#col1, #pageStatsDisplay, #memDisplay {
	float: left;
	padding: 30px;
}

#pageStatsTable {
	text-align: center;
}

.pageTable {
	float: left;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.lastReferenced {
	color: #0F0;
}

.lastVictim {
	color: #F00;
}

.pageTableFault {
	border-top: 1px solid gray;
	color: gray;
	text-align: right;
	padding-top: 5px;
}