body {
	font-family: 'Open Sans', sans-serif;
}

#col1, #pageTableDisplay, #memDisplay {
	float: left;
	padding: 0 30px;
}

#stats .stat {
	font-size: 300%;
	text-align: center;
	margin: 50px 0;
}

#pageStatsTable {
	text-align: center;
}

.pageTable {
	float: left;
	padding: 10px;
	margin: 10px;
}

.lastReferenced {
	color: #000 !important;
	background: #0F0 !important;
}

.lastVictim {
	background: #F00 !important;
	color: #000 !important;
}

.pageTableStats {
	color: gray;
	text-align: right;
	padding-top: 5px;
}

.pageTitle {
	padding: 5px;
	text-align: center;
	font-size: 150%;
}

.page {
	background: #00F;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	font-size: 150%;
	color: #FFF;
	text-align: center;
	position: relative;
	margin: 3px;
	padding: 3px;
}

.frameLink {
	position: absolute;
	bottom: 0;
	right: 2px;
	font-size: 70%;
	line-height: normal;
}

.frameLink:before {
	content: "→ ";
}





.frame {
	background: #DDD;
	width: 150px;
	height: 45px;
	position: relative;
	text-align: center;
	border-radius: 3px;
	margin: 2px 0;
}

.frameNum {
	position: absolute;
	line-height: 45px;
	left: 4px;
	padding-right: 4px;
	border-right: 1px outset #FFF;
	color: #333;
}

.framePid, .framePage {
	line-height: 20px;
	vertical-align: top;
}

.framePid:before, .framePage:before {
	content: "Process";
	font-size: 70%;
	color: #333;
	padding-right: 10px;
}

.framePage:before {
	content: "Page";
}